body {
    display: grid;
    justify-content: center;
    width: 100%;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.title {
    display: flex;
    justify-content: left;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo-text {
    display: grid;
    grid-template-rows: 1fr .5fr;
}

h1 {
    margin-bottom: 1px;
}

p {
    margin-bottom: 1px;
}
