body {

}

header {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "logo icons"
    "hr hr"
    "blog-title print";
}

h1 {
    margin-bottom: 1px;
}

hr {
    border:0px;
    height:100%;
    width: 100%;
    background-image:url('/assets/hr-img.png');
    grid-area: hr;
}

.border {
    width: 100%;
    grid-area: hr;
}

.logo {
    grid-area: logo;
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: icons;
}

.logo-text {
    grid-template-rows: 1fr .5fr;
    margin-top: -10px;
    
}

.main-logo{
    margin-right:7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
}

.blog-title{
    grid-area: blog-title;
}

.print{
    justify-content: flex-end;
    grid-area: print;
}

.image1{
    margin-top:15px;
    margin-bottom: 15px;
    width:80%;
}

.blog-post{
    display: flex;
    width: 80%;    
}
