body {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

section{
    width:100%;
}

.title {
    display: flex;
    justify-content: left;
    height:80px;
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo-text {
    display: grid;
    grid-template-rows: 1fr .5fr;
    margin-top: -10px;
}

h1 {
    margin-bottom: 1px;
}


.main-logo{
    margin-right:7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    display:block;
    border:0px;
    height:100%;
    background-image:url('/assets/hr-img.png');
}

.blog-title{
    display: flex;
}

.print{
    display: flex;
    justify-content: flex-end;

}

.title-zone{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image1{
    margin-top:15px;
    margin-bottom: 15px;
    width:80%;
}

.blog-post{
    display: flex;
    width: 80%;    
}
